<fieldset class="fieldcontain fieldcontain-audio">
  <legend>Audio field</legend>
  <label for="label">Field label</label>
  <input type="text" name="label" value="This is a label">
  <input type="checkbox" name="required" checked="checked">Required
</fieldset>