<fieldset class="fieldcontain fieldcontain-checkbox">
  <legend>Checkbox field</legend>
  <label for="label">Field label</label>
  <input type="text" name="label" value="This is a label">
  <input type="checkbox" name="required" checked="checked">Required
  <div class="checkboxes">
    <div class="form-inline">
      <input type="text" value="Checkbox" name="checkbox-1-1" id="checkbox-1-1" class="checkbox">
      <button type="button" class="btn btn-default btn-sm remove-checkbox" aria-label="Remove checkbox"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </div>
  </div>
  <button type="button" class="btn btn-default btn-sm add-checkbox" aria-label="Add checkbox"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
</fieldset>