<fieldset class="fieldcontain fieldcontain-dtree">
  <legend>{{t "dtree.field-title"}}</legend>
  <div class="dtrees">
    <div class="form-inline">
      <input type="text" value="{{t "select.text"}}" name="select-1-1" id="select-1-1" class="select">
      <button type="button" class="btn btn-default btn-sm remove-dtree" aria-label="{{t "dtree.remove"}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </div>
  </div>
  <span class="btn btn-default btn-file">
    Browse<input type="file" class="add-dtree" aria-label="{{t "dtree.add-option"}}">
  </span>
</fieldset>