<fieldset class="fieldcontain fieldcontain-image">
  <legend>Image field</legend>
  <label for="label">Field label</label>
  <input type="text" name="label" value="This is a label">
  <input type="checkbox" name="required" checked="checked">Required
  <div class="form-inline">
    <input type="checkbox" name="multi-image" checked="checked">Multiple images
  </div>
  <div class="form-inline">
    <input type="checkbox" name="los">Line of Sight
  </div>
  <div class="form-inline">
</fieldset>