<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <div class="btn-toolbar" role="toolbar">
      <div id="dragme">
        <% _.each(options, function(name, id){ %>
          <li>
            <a href="javascript:void(0);" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="<%= name%>">
              <span class="glyphicon menu-icon icon-<%= name%>" aria-hidden="true"></span>
            </a>
          </li>
        <% }); %>
      </div>
    </div>
  </div>
</div>