<fieldset class="fieldcontain fieldcontain-radio">
  <legend>Radio field</legend>
  <label for="label">Field label</label>
  <input type="text" name="label" value="This is a label">
  <input type="checkbox" name="required" checked="checked">Required
  <div class="radios">
    <div class="form-inline">
      <input type="text" value="radio" name="radio-1-1" id="radio-1-1" class="radio">
      <button type="button" class="btn btn-default btn-sm remove-radio" aria-label="Remove radio"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </div>
  </div>
  <button type="button" class="btn btn-default btn-sm add-radio" aria-label="Add checkbox"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
</fieldset>