<fieldset class="fieldcontain fieldcontain-range">
  <legend>Range field</legend>
  <label for="label">Field label</label>
  <input type="text" name="label" value="This is a label">
  <input type="checkbox" name="required" checked="checked">Required
  <label for="placeholder">Default text</label>
  <input type="text" name="placeholder" placeholder="Place default text here (if any)">
  <label for="step">Step</label>
  <input type="number" name="step" value="1">
  <label for="min">Min value</label>
  <input type="number" name="min" value="0">
  <label for="max">Max value</label>
  <input type="number" name="max" value="10">
</fieldset>