<!-- Fixed navbar -->
<nav class="navbar navbar-inverse" id="myNav">
  <div class="container-fluid">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" data-spy="affix">
        <li><a href="javascript:void(0)" id="form-save" data-i18n="menu.save"><%= save %></a></li>
        <li><a href="javascript:void(0)" id="create-sa"</a>Smart Assistant</li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
