<!-- Fixed navbar -->
<nav class="navbar navbar-inverse" id="myNav">
  <div class="container-fluid">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" data-spy="affix">
        <li><a href="#" id="form-save" data-i18n="menu.save"><%= save %></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
