<fieldset class="fieldcontain fieldcontain-section" id="<%= fieldId %>" data-type="<%= type %>">
  <legend><%= translate("section.field-title") %></legend>
  <label for="label"><%= translate("section.label-title") %></label>
  <input type="text" name="label" placeholder="<%= translate("section.placeholder") %>" value="<%= label %>">
</fieldset>
