<fieldset class="fieldcontain fieldcontain-select">
  <legend>Select field</legend>
  <label for="label">Field label</label>
  <input type="text" name="label" value="This is a label">
  <input type="checkbox" name="required" checked="checked">Required
  <div class="options">
    <div class="form-inline">
      <input type="text" value="select" name="select-1-1" id="select-1-1" class="select">
      <button type="button" class="btn btn-default btn-sm remove-select" aria-label="Remove select"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </div>
  </div>
  <button type="button" class="btn btn-default btn-sm add-select" aria-label="Add checkbox"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
</fieldset>