<fieldset class="fieldcontain fieldcontain-text">
  <legend>Text field</legend>
  <label for="label">Field label</label>
  <input type="text" name="label" value="This is a label">
  <input type="checkbox" name="required" checked="checked">Required
  <label for="prefix">Prefix</label>
  <input type="text" name="prefix" placeholder="Set a prefix">
  <input type="checkbox" name="required">Persistent
  <label for="placeholder">Default text</label>
  <input type="text" name="placeholder" placeholder="Place default text here (if any)">
  <label for="max-chars">Max characters</label>
  <input type="number" name="max-chars" value="256">
</fieldset>