<fieldset class="fieldcontain fieldcontain-warning" id="<%= id %>" data-type="<%= type %>">
  <legend><%= translate("warning.field-title") %></legend>
  <label for="label"><%= translate("warning.label-title") %></label>
  <input type="text" name="label" value="<%= label %>">
  <label for="message"><%= translate("warning.label") %></label>
  <textarea placeholder="<%= translate("warning.message") %>"><%= properties.placeholder %></textarea>
</fieldset>
