<fieldset class="fieldcontain fieldcontain-warning">
  <legend>Warning field</legend>
  <label for="label">Field label</label>
  <input type="text" name="label" value="This is a label">
  <label for="message">Message</label>
  <textarea placeholder="Warning message goes here"></textarea>
</fieldset>